/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/utils
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide*
.phpstorm.meta.php
/public/js/scorer.js
/public/js/invoicer.js
/public/js/video_review.js
/db_sync/
